###############################################################################
# Remove the line below if you want to inherit .editorconfig settings from
# higher directories.
###############################################################################
root = true

###############################################################################
# Watched file types - All source code files
###############################################################################
[*]

###############################################################################
# Core EditorConfig options - Encoding
###############################################################################
charset = utf-8

###############################################################################
# Core EditorConfig options - Indentation and spacing
###############################################################################
indent_size = 4
indent_style = space
tab_width = 4

###############################################################################
# Core EditorConfig options - New line preferences
###############################################################################
insert_final_newline = true
trim_trailing_whitespace = true

###############################################################################
# Watched file types - MD files
###############################################################################
[*.md]

###############################################################################
# Core EditorConfig options - Indentation and spacing
###############################################################################
# Markdown uses trailing whitespaces for line breaks.
trim_trailing_whitespace = false

###############################################################################
# Watched file types - MD, HTML, JavaScript, TypeScript, CSS, LESS, SVG files
###############################################################################
[*.{md,html,js,jsx,ts,tsx,css,less,svg}]

###############################################################################
# Core EditorConfig options - Indentation and spacing
###############################################################################
indent_size = 2
indent_style = space
tab_width = 2

###############################################################################
# Watched file types - XML, JSON, YML, YAML files
###############################################################################
[*.{xml,json,yml,yaml}]

###############################################################################
# Core EditorConfig options - Indentation and spacing
###############################################################################
indent_size = 2
indent_style = space
tab_width = 2

###############################################################################
# Watched file types - Config files
###############################################################################
[*.{config}]

###############################################################################
# Core EditorConfig options - Indentation and spacing
###############################################################################
indent_size = 2
indent_style = space
tab_width = 2
