###############################################################################
# Ignore test results.
###############################################################################
coverage/

###############################################################################
# Ignore build results.
###############################################################################
build/
